@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #474747;
  --background: #f2f3f3;
  --box-shadow: 1px -4px 0px -2px rgb(201, 202, 203) inset;
}

body {
  color: var(--text-color);
  background: var(--background);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
